.cartItemCard:hover {
  transform: scale(1.01);
  transition: all 0.2s ease;
}

.custom-checkbox input[type="checkbox"] {
  transform: scale(1.3);
  cursor: pointer;
}

.cartPage {
  background: #f9fafb;
}

button.btn-outline-secondary:hover {
  background-color: #e0f7fa;
  border-color: #00acc1;
}

button.btn-outline-danger:hover {
  background-color: #ffebee;
  border-color: #e53935;
}

button.btn-primary {
  background-color: #007bff;
  border: none;
}
